<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <title>Display User</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2 class="mb-5">User {{user.id}}</h2>
            <h4 class="mb-3">Full Name: {{user.first_name}} {{user.last_name}}</h4>
            <h4 class="mb-3">Email: {{user.email}}</h4>
            <h4 class="mb-3">Created At: {{user.created_at}}</h4>
            <a href="edit/">Edit</a> | <a href="destroy/">Delete</a>
        </div>
    </div>
</body>
</html>