<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <title>New Book</title>
</head>
<body>
    <div id="nav" nclass="container-fluid">
        <div class="row m-3">
            <div class="col"><h2>Create a New Book </h2></div>
            <div class="col text-right">
                <a href="{% url 'book:index' %}" class="btn btn-success mr-5">Home</a>
                <a href="{% url 'user:logout' %}" class="btn btn-danger mr-5">LOGOUT</a>
            </div>
        </div>
    </div>
    <div id="main" class="container">
            {% if messages %}
            <ul class="text-danger">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <form action="{% url 'book:create_book' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" class="form-control" name="title" type="text">
            </div>
            <div class="form-group">
                    <label for="existing_author">Existing Authors</label>
                    <select id="existing_author" name="existing_author" class="form-control">
                        {% for author in authors %}
                        <option value="{{ author.name }}">{{ author.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            <div class="form-group">
                <label for="new_author">Author</label>
                <input id="new_author" class="form-control" name="new_author" type="text">
            </div>
            <div class="form-group">
                <label for="review">Review</label>
                <textarea name="review" id="review" class="w-75 h-25"></textarea>
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <select id="rating" name="rating" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-lg btn-success">Create Book</button>
        </form>
    </div>
</body>
</html>