* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
#container {
    width: 1000px;
    margin: 0 auto;
    color: white;
}
#intro {
    background-color: #245076;
}
#header {
    padding: 15px;
}
    #header img {
        width: 300px;
    }
    #header div {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 666px;
        margin-top: 10px;
    }
    #header div p {
        text-align: right;
        margin-right: 27px;
        
    }
    #header div form {
        background-color: #444444;
        padding: 13px 27px;
        border-radius: 10px;
        width: 185px;
        display: inline-block;
        box-shadow: 6px 6px 10px -5px black
    }
    #header div form input[type=text] {
        width: 140px;
        height: 28px;
        text-align: center;
        font-size: 10px;
        border: 2px solid white;
    }
    #header div form input[type=submit] {
        height: 25px;
        font-size: 10px;
        width: 33px;
        color: white;
        background-color: #245076;
        border-radius: 5px;
        border: 1px solid silver;
    }
#main-nav {
    background-color: #477ead;
    width: 892px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -5px black
}
    #main-nav li{
        display: inline-block;
        font-size: 25px;
        margin: 7px 22px;
    }
#aside-nav {
    display: inline-block;
    width: 136px;
    margin-left: 109px;
    margin-top: 20px;
    list-style-type: none;
}
    #aside-nav li {
        text-align: center;
        margin-top: 13px;
    }
    #aside-nav li a {
        color: white;
    }
#intro-text {
    width: 642px;
    text-align: center;
    display: inline-block;
    margin: 20px 0 20px 30px;
    vertical-align: top;
}
    .yellow {
        color: #ffd52e;
    }
    #intro-text h3 {
        margin-top: 11px;
    }
#main div {
    display: inline-block;
    border-top: 4px solid #73a7d5;
    color: black;
    text-align: center;
    vertical-align: top;
    width: 314px;
    padding: 2px 51px;
    margin-left: 53px;
    margin-top: 8px;
}
    #main h4 {
        font-weight: bold;
    }
    #main ul {
        width: 257px;
        margin: 0 auto;
    }
    #main ul li a {
        color: #73a7d5;
    }
    .inline-link {
        font-size: 12px;
        color: #73a7d5;
    }
#footer {
    background: #2B6BA3;
    background: -webkit-linear-gradient(bottom, #2B6BA3, #245076);
    background: -moz-linear-gradient(bottom, #2B6BA3, #245076);
    background: linear-gradient(to top, #2B6BA3, #245076);
    text-align: center;
    margin-top: 20px;
    color: #7fb1df;
}   
    #footer ul {
        padding: 15px;
        padding-top: 47px;
    }
    #footer ul li {
        display: inline-block;
        font-size: 21px;
        margin-right: 20px;
    }
    #footer ul li a {
        text-decoration: none;
        color: #7fb1df;
    }
    #footer p {
        padding-bottom: 10px;
        font-size: 10px;
    }
