<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form action="result" method="post">
            <h5>Full Name:</h5> 
            <input type="text" name="name">
            <h5>Dojo Location:</h5> 
            <select name="location" id="">
                <option value="San Jose">San Jose</option>
                <option value="Burbank">Burbank</option>
                <option value="Online">Online</option>
            </select>
                <h5>Favorite Language:</h5>  
                <select name="language" id="">
                    <option value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Ruby">Ruby</option>
                </select>
            <h5>Comment(optional):</h5> 
            <textarea name="comments" id="" cols="30" rows="10"></textarea>
            <input type="button" value="Submit">
        </form>
    </div>
</body>
</html>