/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 63%;
    background-color: silver;
    margin: 0px auto;
    padding: 1.2em;
   }
   #header{
    min-height: 150px;
    width: 100%;
    background-color: green;
    margin-bottom: .8em;
   }
   #navigation{
    min-height: 300px;
    width: 21%;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
   }
   #main_content{
    min-height: 400px;
    width: 71%;
    background-color: red;
    display: inline-block;
    margin-left: 15px;
    padding: .9em;
   }
   .subcontents{
    min-height: 200px;
    width: 31%;
    background-color: yellow;
    display: inline-block;
    margin-bottom: 1.1em;
    margin-right: 6px;
    
   }
   #advertisement{
    min-height: 120px;
    width: 99%;
    background-color: purple;
   }
@media (max-width: 480px) {
    #navigation {
        display: none;
    }
    .subcontents, #advertisement, #main_content {
        width: 100%;
    }
    #main_content {
        margin: 0;
        box-sizing: border-box;
    }
    #wrapper {
        width: 85%;
    }
}
@media (max-width: 1023px) {
    #navigation {
        display: none;
    }
    #main_content {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .subcontents {
        width: 46%;
    }
}
@media (min-width:1024px) {
    
}

   