<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>We Track You</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    <div class="container center">
        <h1>Come here often?</h1>
        <h3>You've been here <span class="blue-text">{{ count }}</span></h3>
        <form action="/add2" method="POST">
            <button type="submit" class="btn-large indigo">Add 2</button>
        </form>
        <form action="/reset" method="POST">
            <button type="submit" class="btn-large red">Reset</button>
        </form>
    </div>
    
</body>
</html>