<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <title>Login and Registration</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <h2>Registration</h2>
                    {% with errors = get_flashed_messages(category_filter=["register"]) %}
                        {% if errors %}
                            {%- for msg in errors %}
                                <span class="text-danger"> * {{ msg }}</span>
                            {% endfor -%}
                        {% endif %}
                    {% endwith %}
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            {% with errors = get_flashed_messages(category_filter=["first_name"]) %}
                                {% if errors %}
                                    {%- for msg in errors %}
                                        <span class="text-danger"> * {{ msg }}</span>
                                    {% endfor -%}
                                {% endif %}
                            {% endwith %}
                            <input id="first_name" name="first_name" value="{{ session['first_name'] }}" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            {% with errors = get_flashed_messages(category_filter=["last_name"]) %}
                                {% if errors %}
                                    {%- for msg in errors %}
                                        <span class="text-danger"> * {{ msg }}</span>
                                    {% endfor -%}
                                {% endif %}
                            {% endwith %}
                            <input id="last_name" name="last_name" value="{{ session['last_name'] }}" class="form-control" type="text">
                        </div>       
                        <div class="form-group">
                            <label for="email">Email</label>
                            {% with errors = get_flashed_messages(category_filter=["email"]) %}
                                {% if errors %}
                                    {%- for msg in errors %}
                                        <span class="text-danger"> * {{ msg }}</span>
                                    {% endfor -%}
                                {% endif %}
                            {% endwith %}
                            <input id="email" name="email" value="{{ session['email'] }}" class="form-control" type="text">    
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            {% with errors = get_flashed_messages(category_filter=["password"]) %}
                                {% if errors %}
                                    {%- for msg in errors %}
                                        <span class="text-danger"> * {{ msg }}</span>
                                    {% endfor -%}
                                {% endif %}
                            {% endwith %}
                            <input id="password" name="password" class="form-control" type="password">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            {% with errors = get_flashed_messages(category_filter=["confirm_password"]) %}
                                {% if errors %}
                                    {%- for msg in errors %}
                                        <span class="text-danger"> * {{ msg }}</span>
                                    {% endfor -%}
                                {% endif %}
                            {% endwith %}
                            <input id="confirm_password" name="confirm_password" class="form-control" type="password">
                        </div>
                        <input type="submit" value="SUBMIT" class="btn btn-primary mt-3">
                    </form>
                </div>
                <div class="col">
                    <h2>Login</h2>
                    {% with errors = get_flashed_messages(category_filter=["login"]) %}
                        {% if errors %}
                            {%- for msg in errors %}
                                <span class="text-danger"> * {{ msg }}</span>
                            {% endfor -%}
                        {% endif %}
                    {% endwith %}
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" name="email_login" value="{{ session['email_login'] }}"class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" name="password_login" class="form-control" type="password">
                        </div>
                        <input type="submit" value="SUBMIT" class="btn btn-primary mt-3">
                    </form>
                </div>
            </div>
        </div> <!-- jumbotron -->
    </div>  <!-- container -->
</body>
</html> 
